<!DOCTYPE html>
<html lang="en">
<%- include('../includes/head') %> 
<link rel="stylesheet" href="./css/login.css">
<body>
    <div class="Father container">
        <div class="HeadLogo">
            <div class="HeadLogo_logotip">
                <a href="https://www.youtube.com/c/najottalim">
                    <img class="logoIMage" src="./images/logo.svg" alt="">
                </a>
                <a href="https://www.youtube.com/c/najottalim">
                    <h1>Najot Ta'lim</h1>
                </a>
            </div>
            <p>Love your work</p>
        </div>
        <a class="" href="#">Войти в систему</a>

        <form class="form" action="/login" method="post">
            <input name="username" type="text">
            <input name="password" type="password">
            <button type="submit">KIRISH</button>
        </form>

        <a href="#">Copyright © 2022 Udevs</a>
    </div>

</body>
</html>