<header>
    <div class="CRM_Logo">
        <h1>CRM  PANEL</h1>
    </div>
   <ul class="header_ul">
    <li class="header_ul_li">
        <a class="header_ul_li_a" href="/">
            <img src="./images/Home.png" alt="">
            <h3>Home</h3>
        </a>
    </li>
    <li class="header_ul_li">
        <a class="header_ul_li_a" href="/courses">
            <img src="./images/davomat.png" alt="">
            <h3>Courses</h3>
        </a>
    </li>
     
    <li class="header_ul_li">
        <a class="header_ul_li_a" href="/teacher">
            <img src="./images/davomat.png" alt="">
            <h3>Teacher</h3>
        </a>
    </li>
    <li class="header_ul_li">
        <a class="header_ul_li_a" href="students">
            <img src="./images/students.png" alt="">
            <h3>Students</h3>
        </a>
    </li>
    <li class="header_ul_li">
        <a class="header_ul_li_a" href="/groups">
            <img src="./images/group.png" alt="">
            <h3>Groups</h3>
        </a>
    </li>
   </ul>
</header>